{% if include.authors %}
  {% capture author_list -%}
    {%- for author in include.authors -%}
      {%- capture name_markup -%}
        {%- if author.url -%}
          <a href="{{ author.url }}">{{ author.name }}</a>
        {%- else -%}
          {{ author.name }}
        {%- endif -%}
      {%- endcapture -%}
      {%- if author.me or author.highlight -%}
        {%- capture name_markup -%}<strong>{{ name_markup | strip }}</strong>{%- endcapture -%}
      {%- endif -%}
      {{- name_markup | strip -}}
      {%- unless forloop.last -%}
        {%- if forloop.length == 2 -%}&nbsp;and&nbsp;
        {%- elsif forloop.index == forloop.length - 1 -%},&nbsp;and&nbsp;
        {%- else -%},&nbsp;
        {%- endif -%}
      {%- endunless -%}
    {%- endfor -%}
  {%- endcapture %}
  <p class="publication__authors">
    {%- if include.label != false -%}
      <span class="publication__authors-label">{{ include.label | default: "Authors" }}:</span>
    {%- endif -%}
    <span class="publication__authors-list">{{ author_list | strip }}</span>
  </p>
{% endif %}

